In [22]:
### Book to cre3ate the route map for the NCAA tournament to apply to the existing map to make some cool visualizations

# Path: NCAA_routes_book.ipynb

### OBJECTIVE create lines with routes of the teams in each regional to the regional site and display them on the NCAA Regional Map
### OUTLINE
#### Get a dataframe of the host address, the three other teams competing in the regional, and the addresses of those three teams

###### Add the school color to each visiting team and create lines between the host and the visiting teams

###### Output the lines as a json object that can be added to my existing NCAA_REG map

In [23]:
import pandas as pd
import numpy as np


# Load the json with all the regional information

df = pd.read_json('data/NCAA_D1/game_info.json')

## Get a list of all of the teams that are in the tournament
teams = df['Team_Name'].unique()

print(teams)

['Southern Miss.' 'Samford' 'Auburn' 'Penn' 'LSU' 'Tulane' 'Oregon St.'
 'Sam Houston' 'Virginia' 'Army West Point' 'East Carolina' 'Oklahoma'
 'Clemson' 'Lipscomb' 'Tennessee' 'Charlotte' 'Campbell' 'NC State'
 'South Carolina' 'Central Conn. St.' 'Duke' 'UNCW' 'Coastal Carolina'
 'Rider' 'Texas' 'Louisiana' 'Miami (FL)' 'Maine' 'Arkansas' 'Santa Clara'
 'TCU' 'Arizona' 'UConn' 'Texas Tech' 'Florida' 'Florida A&M' 'Kentucky'
 'Ball St.' 'West Virginia' 'Indiana' 'Oregon' 'Xavier' 'Vanderbilt'
 'Eastern Ill.' 'Stanford' 'San Jose St.' 'Texas A&M' 'Cal St. Fullerton'
 'DBU' 'Washington' 'Oklahoma St.' 'Oral Roberts' 'Indiana St.'
 'Wright St.' 'Iowa' 'North Carolina' 'Boston College' 'Troy' 'Alabama'
 'Nicholls' 'Maryland' 'Northeastern' 'Wake Forest' 'George Mason']

In [24]:
## Open the json with host team information
host_df = pd.read_json('data/NCAA_D1/regional_tourn_map.json')

In [25]:
## Examine the host_df

host_df.head()
host_df.info()

## Create a list of the host teams

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 52 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   park_name                 19 non-null     object
 1   foul                      19 non-null     object
 2   fop                       19 non-null     object
 3   notes                     3 non-null      object
 4   home_plate                19 non-null     object
 5   foul_area_sqft            19 non-null     float64
 6   fop_area_sqft             19 non-null     float64
 7   field_area_sqft           19 non-null     float64
 8   foul_area_per             19 non-null     float64
 9   fair_to_foul              19 non-null     float64
 10  distances                 19 non-null     object
 11  max_distance              19 non-null     float64
 12  min_distance              19 non-null     float64
 13  avg_distance              19 non-null     float64
 14  median_distance           19 non-null     float64
 15  corner_sharpness          19 non-null     float64
 16  max_distance_rank         19 non-null     int64
 17  min_distance_rank         19 non-null     int64
 18  avg_distance_rank         19 non-null     int64
 19  median_distance_rank      19 non-null     int64
 20  field_area_rank           19 non-null     int64
 21  foul_area_rank            19 non-null     int64
 22  fop_area_per_rank         19 non-null     int64
 23  ratio_rank                19 non-null     int64
 24  fop_centroid              19 non-null     object
 25  field_orientation         19 non-null     float64
 26  field_cardinal_direction  19 non-null     object
 27  score                     19 non-null     float64
 28  plotted?                  19 non-null     object
 29  host_school               19 non-null     object
 30  nickname                  19 non-null     object
 31  filename                  19 non-null     object
 32  display_name              19 non-null     object
 33  display_name2             10 non-null     object
 34  color1                    19 non-null     object
 35  color2                    19 non-null     object
 36  color3                    3 non-null      object
 37  found_date                19 non-null     int64
 38  capacity                  19 non-null     object
 39  former_names              13 non-null     object
 40  renovation                13 non-null     object
 41  st_address                16 non-null     object
 42  coords_string1            14 non-null     object
 43  surface                   19 non-null     object
 44  description               17 non-null     object
 45  altitude                  19 non-null     float64
 46  city                      19 non-null     object
 47  state                     19 non-null     object
 48  hr_friendliness           19 non-null     float64
 49  old_school_friendliness   19 non-null     float64
 50  uniqueness_score          19 non-null     float64
 51  file_path                 19 non-null     object
dtypes: float64(16), int64(9), object(27)
memory usage: 7.8+ KB

KeyError: 'Team_Name'

In [15]:
import pandas as pd
import googlemaps

# Replace with your actual Google Maps API key
gmaps = googlemaps.Client(key='AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA')

colleges = teams

# Initialize empty list to store results
results = []

for college in colleges:
    # Adjust the query to include 'baseball stadium'
    geocode_result = gmaps.geocode(f'{college} baseball stadium')
    
    if geocode_result:
        # Extract the formatted address from the result
        address = geocode_result[0]['formatted_address']

        results.append({
            'College': college,
            'Baseball Stadium Address': address
        })

# Convert results to DataFrame
address_df = pd.DataFrame(results)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Game_Number  64 non-null     int64
 1   Date         64 non-null     datetime64[ns]
 2   Tournament   64 non-null     object
 3   Host         64 non-null     object
 4   Team_Seed    64 non-null     int64
 5   Team_Name    64 non-null     object
 6   Team_Record  64 non-null     object
 7   Match_Time   64 non-null     object
 8   Network      64 non-null     object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 4.6+ KB

In [17]:
## Take the values from the address_df and find it in the Team_Name column of the df dataframe
## Lookup the Host of for each team and add it to the address_df dataframe

address_df['Host'] = address_df['College'].map(df.set_index('Team_Name')['Host'])

address_df['Host_Address'] = address_df['Host'].map(address_df.set_index('College')['Baseball Stadium Address'])

# Rename Baseball Stadium Address to Visiting Team Address

address_df.rename(columns={'Baseball Stadium Address': 'Origin'}, inplace=True)

In [18]:
address_df.head(20)

,College,Origin,Host,Host_Address
0,Southern Miss.,"118 College Dr, Hattiesburg, MS 39406, USA",Auburn,NaN
1,Samford,"800 Lakeshore Dr, Homewood, AL 35229, USA",Auburn,NaN
2,Penn,"Philadelphia, PA 19104, USA",Auburn,NaN
3,LSU,"Baton Rouge, LA 70803, USA",LSU,"Baton Rouge, LA 70803, USA"
4,Tulane,"6823 St Charles Ave, New Orleans, LA 70118, USA",LSU,"Baton Rouge, LA 70803, USA"
5,Army West Point,"606 Thayer Rd, West Point, NY 10996, USA",Virginia,NaN
6,East Carolina,"E 5th St, Greenville, NC 27858, USA",Virginia,NaN
7,Lipscomb,"1 University Park Dr, Nashville, TN 37204, USA",Clemson,NaN
8,Charlotte,"9201 University City Blvd, Charlotte, NC 28223...",Clemson,NaN
9,NC State,"Raleigh, NC 27695, USA",South Carolina,"431 Williams St, Columbia, SC 29201, USA"
10,South Carolina,"431 Williams St, Columbia, SC 29201, USA",South Carolina,"431 Williams St, Columbia, SC 29201, USA"
11,Central Conn. St.,"1615 Stanley St, New Britain, CT 06050, USA",South Carolina,"431 Williams St, Columbia, SC 29201, USA"
12,Duke,"Durham, NC 27708, USA",Coastal Carolina,"100 Chanticleer Dr E, Conway, SC 29528, USA"
13,UNCW,"601 College Rd, Wilmington, NC 28403, USA",Coastal Carolina,"100 Chanticleer Dr E, Conway, SC 29528, USA"
14,Coastal Carolina,"100 Chanticleer Dr E, Conway, SC 29528, USA",Coastal Carolina,"100 Chanticleer Dr E, Conway, SC 29528, USA"
15,Rider,"2083 Lawrenceville Rd, Lawrenceville, NJ 08648...",Coastal Carolina,"100 Chanticleer Dr E, Conway, SC 29528, USA"
16,Louisiana,"Louisiana, USA",Miami (FL),"Miami, FL, USA"
17,Miami (FL),"Miami, FL, USA",Miami (FL),"Miami, FL, USA"
18,Santa Clara,"Santa Clara, CA, USA",Arkansas,NaN
19,TCU,"2800 S University Dr, Fort Worth, TX 76109, USA",Arkansas,NaN