In [ ]:
### Dependencies
import pandas as pd
import numpy as np


## File Paths
# Path to mhsaa tables to merge

enrollment_path = 'data\school_info\mhsaa_enrolment_2022.csv'
name_color_path = 'data\school_info\mhsaa_school_nickname_color_2020.csv'

df_enrol = pd.read_csv(enrollment_path)
df_name_color = pd.read_csv(name_color_path)

In [ ]:
### 5-9-23

## Code to scrape 2023 MHSAA Tourny Data

In [ ]:
import pandas as pd

# Replace this with the plain text containing the tournament information
# read a text file into the variable text

text = open('2023_districts_raw.txt', 'r').read()

# Split the text into sections for each division
sections = text.split('Division ')

# Remove the first empty string
sections.pop(0)

# Initialize empty lists for each column in the dataframe
divisions = []
districts = []
hosts = []
locations = []

# Loop through the sections and extract the relevant information
for section in sections:
    lines = section.split('\n')
    division = 'Division ' + lines[0]
    for line in lines[1:]:
        if 'Baseball District' in line:
            district = line
        elif 'Host:' in line:
            host = line.split(': ')[1]
        elif 'Location:' in line:
            location = line.split(': ')[1]
        elif line != '':
            # Skip any blank lines
            districts.append(district)
            divisions.append(division)
            hosts.append(host)
            locations.append(location)

# Create a dataframe to store the extracted information
df = pd.DataFrame({'Division': divisions, 'District': districts, 'Host': hosts, 'Location': locations})

# Print the dataframe
print(df)

In [ ]:
### DF came back as a ton of duplicates. I need to clean it up.

df = df.drop_duplicates()

# Reindex the dataframe
df = df.reset_index(drop=True)

# output the dataframe to a csv file
df.to_csv('data/2023_district_hosts.csv', index=False)


print(df)

In [ ]:
df.head(20)

df.info()

## Regional Locations

In [ ]:
### URLS of pages with retional data

urls = {'Division 1': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/1/SportSeasonId/424201',
        'Division 2': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/2/SportSeasonId/424201',
        'Division 3': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/3/SportSeasonId/424201',
        'Division 4': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/4/SportSeasonId/424201'}

In [ ]:
import requests
from lxml import html
import pandas as pd

# Define the URLs for each division
urls = {'Division 1': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/1/SportSeasonId/424201',
        'Division 2': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/2/SportSeasonId/424201',
        'Division 3': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/3/SportSeasonId/424201',
        'Division 4': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/4/SportSeasonId/424201'}

# Initialize empty lists for each column in the dataframe
divisions = []
locations = []
links = []

# Loop through each division URL in the dictionary
for division, url in urls.items():
    try:
        # Send a GET request to the URL and parse the HTML content
        page = requests.get(url)
        tree = html.fromstring(page.content)

        # Find all the contest location spans using XPath
        location_spans = tree.xpath('//span[@class="contestlocation"]')

        # Loop through the location spans and extract the relevant information
        for location_span in location_spans:
            # Extract the location and link from the contest location span
            location = location_span.xpath('text()')[0].strip()
            link = location_span.xpath('a/@href')[0]
            # Append the information to the respective lists
            divisions.append(division)
            locations.append(location)
            links.append(link)
    except:
        print(f'Error: Failed to retrieve data for {division}')

# Create a dataframe to store the extracted information
df = pd.DataFrame({'Division': divisions, 'Location': locations, 'Link': links})

# Reset the index of the dataframe
df = df.reset_index(drop=True)

# Print the dataframe
print(df)

In [ ]:
## Clean up the dataframe

## Drop duplicates
df = df.drop_duplicates()

df.head(30)
# df.info()

In [ ]:
df.info()

### Output as a csv
## Might want to go back and adjust code to try to store which specific games are at each location
## regional has (semis and finals) then there is a quarterfinals round

df.to_csv('data/2023_regional_hosts.csv', index=False)

# Next Project

### Create a json with just the fields in michigan and try to integrate a column that marks the appropriate fields as host of districts and regionals

The text of the locations in the playoff csvs is not going to match the field names all that well. it might be worth trying to identify them from the map location - will have to go back to districts and extract map locations

In [ ]:
### Try to get all the google maps link from the districts page

import pandas as pd
from bs4 import BeautifulSoup

## Read local file
path = 'districts_2023.html'
html = open(path, 'r').read()


# Parse the HTML
soup = BeautifulSoup(html, 'html.parser')

# Find all the tournament divs
tournaments = soup.select('div.keep-together')

# Initialize lists to store data
district_numbers = []
hosts = []
locations = []

# Extract data for each tournament
for tournament in tournaments:
    district_number = tournament.find('span', {'data-bind': 'text:Division'}).text
    host = tournament.find('span', {'data-bind': 'text:Host'}).text
    location = tournament.find('a', {'target': '_blank'}).get('href')
    

    district_numbers.append(district_number)
    hosts.append(host)
    locations.append(location)

# Create a DataFrame
data = {'Division': district_numbers, 'Host': hosts, 'Location': locations}
df = pd.DataFrame(data)

# add another column the is the index number of the row + 1
df['District'] = df.index + 1

# Print the DataFrame
print(df)

df.to_csv('district_tournaments.csv', index=False)

# Try to match up locations from the scraped district and regional and link them to a field in my json data

## Stragegy: The district csv contains a field that has a link to a google maps search. Loop through all of those and return the lat and longitude coordinates then match the coordinates to the nearest home plate coordinate in the json

In [ ]:
import pandas as pd
import googlemaps

## paths

local_json = 'data\michigan_fields.json'

district_csv = 'district_tournaments.csv'

regional_csv = 'data\2023_regional_hosts.csv'

# Replace this with your own API key
api_key = "AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA"

In [ ]:
# load Data
df = pd.read_csv(district_csv)

# df.head()

df.info()

In [ ]:
### Clean up the location column to remove first portion and just leave the address remaining



# Remove the unwanted portion of the string in the 'Location' column
prefix = "http://maps.google.com/maps?q="

# Check if the location is a string before applying lstrip
df['Location'] = df['Location'].apply(lambda x: x.lstrip(prefix) if isinstance(x, str) else x)

# Print the cleaned DataFrame
print(df)

In [ ]:
df.head()

In [ ]:
## USES GOOGLE CODE
import pandas as pd
import googlemaps

# Replace 'your_api_key' with your actual Google Maps API key
api_key = 'AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA'
gmaps = googlemaps.Client(key=api_key)

# # Create a DataFrame from your data (use your actual DataFrame here)
# data = {
#     "Division": [1, 1, 1],
#     "Host": ["Marquette", "Midland Dow", "Muskegon Mona Shores"],
#     "Location": [
#         "North Marquette Fields, Marquette, MI",
#         "H H Dow High School - Baseball, 3901 N. Saginaw Rd. Midland, MI",
#         "Mona Shores Baseball Field, 1121 W. Seminole Rd. Muskegon, MI",
#     ],
#     "District": [1, 2, 3],
# }

# df = pd.DataFrame(data)

# Function to get the coordinates for a given address
def get_coordinates(address):
    geocode_result = gmaps.geocode(address)
    if geocode_result:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lng = geocode_result[0]["geometry"]["location"]["lng"]
        return (lat, lng)
    else:
        return None

# Apply the function to the 'Location' column and store the coordinates in a new column
df["Coordinates"] = df["Location"].apply(get_coordinates)

# Print the updated DataFrame
print(df)

In [ ]:
## Check Output

df.info()

## Google code worked OK - returned coords for 126 of 128

### Below I am going to try to match up those coordinates to the michigan fields jsons

In [ ]:
#### set up paths and load data(copied from above)


import pandas as pd
import json
# import googlemaps

## paths

local_json = 'data\michigan_fields.json'

district_csv = 'district_tournaments.csv'

regional_csv = 'data\2023_regional_hosts.csv'

# Replace this with your own API key
api_key = "AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA"

# load Data
df = pd.read_csv(district_csv)

## Load MI fields data from json file


# Read the JSON file
with open(local_json) as f:
    data = json.load(f)

# Create a DataFrame from the JSON data
mi_df = pd.DataFrame(data)

mi_df.head()

# df.head()

In [ ]:
### Try a different approach to match the fields
## Use the Host name to find 3 matches from the mi_df
import pandas as pd
from fuzzywuzzy import fuzz, process

# Assuming you have the two dataframes df and mi_df

def find_closest_park_names(host, n_closest=3):
    closest_park_names = process.extract(host, mi_df["park_name"], limit=n_closest, scorer=fuzz.token_sort_ratio)
    return [name for name, score, index in closest_park_names]

# Apply the function to the 'Host' column and store the results in new columns
df[["closest_park_1", "closest_park_2", "closest_park_3"]] = df["Host"].apply(find_closest_park_names).apply(pd.Series)

# Print the updated DataFrame
print(df)

In [ ]:
### FUNCTION TO FIND NEAREST FIELD TO DISTRICT TOURNAMENT LOCATION

import math

## Define a function to calculate the Haversine distance between two points
def haversine_distance(coord1, coord2):
    # Convert latitude and longitude to radians
    lat1, lon1 = map(math.radians, coord1)
    lat2, lon2 = map(math.radians, coord2)

    # Calculate the differences between latitudes and longitudes
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Calculate the Haversine distance
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.asin(math.sqrt(a))
    r = 6371  # Radius of the Earth in km

    return c * r

def find_closest_parks(coord, n_closest=3):
    if coord is None:
        return ["Unknown"] * n_closest

    mi_df["distance"] = mi_df["home_plate"].apply(lambda x: haversine_distance(coord, (x[1], x[0])))
    closest_park_indices = mi_df["distance"].nsmallest(n_closest).index
    return mi_df.loc[closest_park_indices, "park_name"].tolist()



# Make sure 'home_plate' in mi_df has coordinates in the format (lat, lng)
mi_df["home_plate"] = mi_df["home_plate"].apply(lambda x: (x[0], x[1]))

# Create a new column 'closest_park' in df
df[["closest_park_1", "closest_park_2", "closest_park_3"]] = df["Coordinates"].apply(find_closest_parks).apply(pd.Series)


# Print the updated DataFrame
print(df)

In [ ]:
df.head()

In [ ]:
## Output this matching as a csv so I can manulauly check it

df.to_csv('district_fields_text_match.csv', index=False)

## End of 5-9-23 Work for now. output csv file with possible matches for the district fields

# Working with outlier fields 

## Start 59/23 Night

In [17]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Load files
out_df = pd.read_csv('outlier_fields.csv')

out_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   park_name                 43 non-null     object
 1   foul                      43 non-null     object
 2   fop                       43 non-null     object
 3   level                     43 non-null     object
 4   home_plate                43 non-null     object
 5   foul_area_sqft            43 non-null     float64
 6   fop_area_sqft             43 non-null     float64
 7   field_area_sqft           43 non-null     float64
 8   foul_area_per             43 non-null     float64
 9   fair_to_foul              43 non-null     float64
 10  distances                 43 non-null     object
 11  max_distance              43 non-null     int64
 12  min_distance              43 non-null     int64
 13  avg_distance              43 non-null     float64
 14  median_distance           43 non-null     float64
 15  num_distances             43 non-null     int64
 16  max_distance_rank         43 non-null     float64
 17  min_distance_rank         43 non-null     float64
 18  avg_distance_rank         43 non-null     float64
 19  field_area_rank           43 non-null     float64
 20  ratio_rank                43 non-null     float64
 21  fop_centroid              43 non-null     object
 22  field_orientation         43 non-null     float64
 23  field_cardinal_direction  43 non-null     object
 24  lng                       43 non-null     float64
 25  lat                       43 non-null     float64
 26  state                     43 non-null     object
 27  country                   43 non-null     object
 28  school_id                 30 non-null     float64
 29  school_name               30 non-null     object
 30  students                  30 non-null     float64
 31  division                  30 non-null     object
 32  Nickname                  30 non-null     object
 33  Color1                    30 non-null     object
 34  Color2                    30 non-null     object
 35  Color3                    0 non-null      float64
 36  Color4                    0 non-null      float64
dtypes: float64(19), int64(3), object(15)
memory usage: 12.6+ KB

In [ ]:
# df_out = df_out.copy

In [14]:
import pandas as pd

# Assuming you already have the out_df DataFrame
# Creating an empty HP2 column
out_df['HP2'] = None

# Loop through the DataFrame rows and populate the HP2 column with repeated points
for idx, row in out_df.iterrows():
    fop_list = row['fop']
    repeated_points = [point for point in set(fop_list) if fop_list.count(point) > 1]
    if len(repeated_points) > 0:
        out_df.loc[idx, 'HP2'] = str(repeated_points[0])

# Display the updated DataFrame
out_df.head(20)

,park_name,foul,fop,level,home_plate,foul_area_sqft,fop_area_sqft,field_area_sqft,foul_area_per,fair_to_foul,...,school_id,school_name,students,division,Nickname,Color1,Color2,Color3,Color4,HP2
0,Manton HS,"[(-85.4053602, 44.4128512), (-85.4041559, 44.4...","[(-85.4053602, 44.4128512), (-85.4052235, 44.4...",High School,"(-85.4053602, 44.4128512)",81352.834403,20266.747151,101619.581554,0.800563,0.249122,...,7087.0,Manton HS,275.0,C,Rangers,Orange,Black,NaN,NaN,6
1,Adrian Lenawee Christian HS- replot,"[(-84.08374923296931, 41.90876073773172), (-84...","[(-84.08263859810114, 41.90903328830586), (-84...",High School,"(-84.08263859810114, 41.90903328830586)",23497.955671,87428.696853,110926.652524,0.211833,3.720694,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
2,Ann Arbor Greenhills HS,"[(-84.01479353123523, 41.86694552754826), (-84...","[(-84.01374704390223, 41.86720354412398), (-84...",High School,"(-84.01374704390223, 41.86720354412398)",39865.290607,80393.426329,120258.716936,0.331496,2.016627,...,6543.0,Ann Arbor - Greenhills HS,319.0,C,Gryphons,Navy,Forest,NaN,NaN,6
3,Ann Arbor Skyline HS,"[(-83.77545696328717, 42.30415973972723), (-83...","[(-83.77427962289079, 42.30418142498592), (-83...",High School,"(-83.77427962289079, 42.30418142498592)",32529.386734,94610.656524,127140.043258,0.255855,2.908467,...,2032.0,Ann Arbor - Skyline HS,1588.0,A,Eagles,Columbia Blue,White,NaN,NaN,6
4,Bellaire HS,"[(-85.19125608380878, 44.97663506300876), (-85...","[(-85.19062986396423, 44.97594663020872), (-85...",High School,"(-85.19062986396423, 44.97594663020872)",22443.107113,85074.553380,107517.660494,0.208739,3.790676,...,2724.0,Bellaire HS,101.0,D,Eagles,Red,Black,NaN,NaN,6
5,Benton Harbor HS,"[(-86.46242873648274, 42.10208032631181), (-86...","[(-86.46122939592095, 42.1019280504408), (-86....",High School,"(-86.46122939592095, 42.1019280504408)",32751.777879,103091.287196,135843.065075,0.241100,3.147655,...,7021.0,Benton Harbor HS,621.0,B,Tigers,Orange,Black,NaN,NaN,6
6,Berrien Springs HS,"[(-86.34676304174523, 41.94527624505015), (-86...","[(-86.34796505996552, 41.94522181131216), (-86...",High School,"(-86.34796505996552, 41.94522181131216)",27493.398920,89323.044605,116816.443524,0.235356,3.248891,...,1346.0,Berrien Springs HS,491.0,B,Shamrocks,Green,White,NaN,NaN,6
7,Brooklyn Columbia Central HS,"[(-84.28050182046512, 42.08744943886004), (-84...","[(-84.27958622886328, 42.08789816919852), (-84...",High School,"(-84.27958622886328, 42.08789816919852)",28701.469570,79562.200155,108263.669725,0.265107,2.772060,...,1453.0,Brooklyn - Columbia Central HS,391.0,C,Golden Eagles,Blue,Gold,NaN,NaN,6
8,Calumet HS,"[(-88.4150098185453, 47.27486620144298), (-88....","[(-88.41398644567808, 47.27443717825815), (-88...",High School,"(-88.41398644567808, 47.27443717825815)",31492.383239,84610.540778,116102.924016,0.271245,2.686699,...,7293.0,Calumet HS,376.0,C,Copper Kings,Blue,Grey,NaN,NaN,6
9,Canton HS,"[(-83.49149558809128, 42.34417276686442), (-83...","[(-83.49030791170583, 42.34419402535652), (-83...",High School,"(-83.49030791170583, 42.34419402535652)",34854.213318,94981.269450,129835.482768,0.268449,2.725102,...,5116.0,Canton HS,2127.0,A,Chiefs,Scarlet,White,NaN,NaN,6
10,Central Lake HS,"[(-85.26909015052674, 45.0671292656414), (-85....","[(-85.26914814083565, 45.06632868162391), (-85...",High School,"(-85.26914814083565, 45.06632868162391)",17407.318913,75524.423494,92931.742407,0.187313,4.338659,...,4530.0,Central Lake HS,84.0,D,Trojans,Royal Blue,Orange,NaN,NaN,6
11,Charlotte HS,"[(-84.85512254479295, 42.56047812125827), (-84...","[(-84.85513154479806, 42.559637106037), (-84.8...",High School,"(-84.85513154479806, 42.559637106037)",36146.842343,81919.509172,118066.351515,0.306157,2.266298,...,3516.0,Charlotte HS,751.0,B,Orioles,Orange,Black,NaN,NaN,6
12,Croswell-Lexington HS,"[(-82.59978014628501, 43.26746068076477), (-82...","[(-82.5985862912561, 43.26750697075564), (-82....",High School,"(-82.5985862912561, 43.26750697075564)",21497.590556,86221.973457,107719.564013,0.199570,4.010774,...,1841.0,Croswell-Lexington HS,663.0,B,Pioneers,Royal Blue,White,NaN,NaN,6
13,Durand HS,"[(-83.9828502156856, 42.91682555729714), (-83....","[(-83.98169497508752, 42.91685765412787), (-83...",High School,"(-83.98169497508752, 42.91685765412787)",23136.580882,87150.667515,110287.248398,0.209785,3.766791,...,NaN,NaN,NaN,NaN,Railroaders,Blue,White,NaN,NaN,6
14,Eaton Rapids High School,"[(-84.635145, 42.5118192), (-84.6360033, 42.51...","[(-84.6343752, 42.5124558), (-84.6344369, 42.5...",High School,"(-84.6343752, 42.5124558)",37201.260408,101438.685594,138639.946002,0.268330,2.726754,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
15,Flint Powers Catholic HS,"[(-83.70554999987414, 43.00256210626836), (-83...","[(-83.70452739976179, 43.00299877101771), (-83...",High School,"(-83.70452739976179, 43.00299877101771)",28663.740426,97135.156406,125798.896832,0.227854,3.388782,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
16,Gaylord HS,"[(-84.66759300789242, 45.04792894167389), (-84...","[(-84.6663187491004, 45.04793606159826), (-84....",High School,"(-84.6663187491004, 45.04793606159826)",40051.913944,102111.245465,142163.159409,0.281732,2.549472,...,3284.0,Gaylord HS,901.0,A,Blue Devils,Blue,Gold,NaN,NaN,6
17,Genesee HS,"[(-83.620487946976, 43.11649557377643), (-83.6...","[(-83.62160184845276, 43.1164835746293), (-83....",High School,"(-83.62160184845276, 43.1164835746293)",27808.703323,81314.857754,109123.561077,0.254837,2.924079,...,5677.0,Genesee HS,208.0,C,Wolves,Green,White,NaN,NaN,6
18,Gladwin HS,"[(-84.49190674871771, 43.99023645826442), (-84...","[(-84.49307638044048, 43.99021767242408), (-84...",High School,"(-84.49307638044048, 43.99021767242408)",27681.295747,92108.001441,119789.297188,0.231083,3.327445,...,2253.0,Gladwin HS,492.0,B,Flying G's,Royal Blue,White,NaN,NaN,6
19,Grand Rapids South Christian HS,"[(-85.62765071627372, 42.81677161100501), (-85...","[(-85.62647383549607, 42.81678104566145), (-85...",High School,"(-85.62647383549607, 42.81678104566145)",29140.249193,100890.329411,130030.578604,0.224103,3.462233,...,NaN,NaN,NaN,NaN,Eagles,Columbia Blue,Black,NaN,NaN,6

In [ ]:
import pandas as pd
import requests
from lxml import html

url = 'https://my.mhsaa.com/Sports/Baseball/Districts'  # Replace this with the URL of the webpage you want to scrape
page = requests.get(url)
tree = html.fromstring(page.content)

# Find the game location using the XPath
location = tree.xpath('/html/body/form/div[5]/div[2]/div/div/div[2]/div[1]/div/div/div/div/div/div/div/div[2]/div[2]/div[1]/div[2]/div[1]/a')[0]

# Extract the relevant information
name = location.text.strip()
link = location.get('href')
address = link.split('=')[1].strip()

# Create a dataframe to store the scraped data
df = pd.DataFrame({'Field_name': [name], 'Location': [address], 'Link': [link]})

# Print the dataframe
print(df)


# Get latitude and longitude for each location
df["Coordinates"] = df["Location"].apply(get_latitude_longitude)

# Print the DataFrame
print(df)

In [ ]:
print(df_name_color.columns)

In [ ]:
### Match the school name to School and merge the dataframes into a single object
from fuzzywuzzy import fuzz, process

def find_best_match(school_name, choices, score_cutoff=70):
    best_match = process.extractOne(school_name, choices, scorer=fuzz.token_sort_ratio, score_cutoff=score_cutoff)
    if best_match:
        return best_match[0]
    else:
        return None

# Get the list of school names from df_name_color
school_names = df_name_color['School'].tolist()

# Apply find_best_match function to create a new column 'best_match' in df_enrol
df_enrol['best_match'] = df_enrol['school_name'].apply(find_best_match, choices=school_names, score_cutoff=80)

In [ ]:
# Rename the 'School' column in df_name_color to 'best_match'
df_name_color = df_name_color.rename(columns={'School': 'best_match'})

# Merge the dataframes on the 'best_match' column
df_merged = df_enrol.merge(df_name_color, on='best_match', how='left')

In [ ]:
print(df_enrol.columns)

print(df_name_color.columns)

In [ ]:
# - get icons sorted out
# -*** DONE*** get the level assigner sorted out in the etl
# - add filter based on level to map
# - implement the search box places from