In [12]:
## Function to take a dataframe and convert it to a SQL table for QuickDBD

import pandas as pd

In [13]:
import re

def generate_quickdbd(df, table_name):
    # Dictionary to map pandas dtypes to SQL dtypes
    dtype_dict = { 'object': 'varchar', 'int64': 'int', 'float64': 'float', 'datetime64[ns]': 'datetime', 'bool': 'boolean' }

    output = []
    output.append(f"{table_name}\n-")
    for i, (column, dtype) in enumerate(df.dtypes.iteritems()):
        # Replace spaces with underscores and remove non-alphanumeric or underscore characters
        cleaned_column = re.sub('\W|^(?=\d)', '_', column.replace(" ", "_"))

        # Map pandas dtypes to SQL dtypes
        sql_dtype = dtype_dict.get(str(dtype), 'varchar')

        # Assume the first column is the primary key (PK)
        if i == 0:
            output.append(f"  {cleaned_column} PK {sql_dtype}")
        else:
            output.append(f"  {cleaned_column} {sql_dtype}")

    return "\n".join(output)

In [14]:
## Load the DF
# Read CSV
df = pd.read_csv("TEMP\clean_tables\game_level\_2023_games.csv")


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22176 entries, 0 to 22175
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   teamName        22176 non-null  object
 1   teamId          22176 non-null  int64
 2   leagueName      20985 non-null  object
 3   opponentName    21585 non-null  object
 4   opponentId      21585 non-null  float64
 5   gameDate        22176 non-null  object
 6   gameTime        22176 non-null  object
 7   homeOrAway      22176 non-null  object
 8   location        19581 non-null  object
 9   teamScore       16343 non-null  float64
 10  opponentScore   16343 non-null  float64
 11  notes           6083 non-null   object
 12  contestType     22176 non-null  int64
 13  seasonType      22176 non-null  int64
 14  postSeasonInfo  1235 non-null   object
 15  tournamentInfo  0 non-null      float64
 16  tournamentName  1235 non-null   object
 17  tournamentType  21597 non-null  float64
 18  contestName     964 non-null    object
 19  seasonTypeCode  22176 non-null  object
dtypes: float64(5), int64(3), object(12)
memory usage: 3.4+ MB

In [15]:
# Run And PRINT
# df = pd.DataFrame({"Name": ["Alice", "Bob"], "Age": [25, 30]})
print(generate_quickdbd(df, "game_level_data"))

game_level_data
-
  teamName PK varchar
  teamId int
  leagueName varchar
  opponentName varchar
  opponentId float
  gameDate varchar
  gameTime varchar
  homeOrAway varchar
  location varchar
  teamScore float
  opponentScore float
  notes varchar
  contestType int
  seasonType int
  postSeasonInfo varchar
  tournamentInfo float
  tournamentName varchar
  tournamentType float
  contestName varchar
  seasonTypeCode varchar