In [51]:
## Function to take a dataframe and convert it to a SQL table for QuickDBD

import pandas as pd

In [52]:
import re

def generate_quickdbd(df, table_name):
    # Dictionary to map pandas dtypes to SQL dtypes
    dtype_dict = { 'object': 'varchar', 'int64': 'int', 'float64': 'float', 'datetime64[ns]': 'datetime', 'bool': 'boolean' }

    output = []
    output.append(f"{table_name}\n-")
    for i, (column, dtype) in enumerate(df.dtypes.iteritems()):
        # Replace spaces with underscores and remove non-alphanumeric or underscore characters
        cleaned_column = re.sub('\W|^(?=\d)', '_', column.replace(" ", "_"))

        # Map pandas dtypes to SQL dtypes
        sql_dtype = dtype_dict.get(str(dtype), 'varchar')

        # Assume the first column is the primary key (PK)
        if i == 0:
            output.append(f"  {cleaned_column} PK {sql_dtype}")
        else:
            output.append(f"  {cleaned_column} {sql_dtype}")

    return "\n".join(output)

In [53]:
## Load the DF
# Read CSV
df = pd.read_csv("TEMP\clean_tables\school_master_table.csv")


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1506 entries, 0 to 1505
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   School_Name                1506 non-null   object
 1   District                   1350 non-null   object
 2   County_Name                1506 non-null   object
 3   Street_Address             1506 non-null   object
 4   City                       1506 non-null   object
 5   State                      1506 non-null   object
 6   ZIP                        1506 non-null   int64
 7   ZIP_4-digit                1204 non-null   float64
 8   Phone                      1505 non-null   object
 9   Locale_Code                1350 non-null   float64
 10  Locale                     1506 non-null   object
 11  Charter                    1506 non-null   object
 12  Magnet                     1506 non-null   object
 13  Title_I_School             1506 non-null   object
 14  Title_1_School_Wide        1506 non-null   object
 15  HS_ENROLL                  1506 non-null   float64
 16  Teachers                   1350 non-null   float64
 17  Student_Teacher_Ratio      1506 non-null   object
 18  Free_Lunch                 1350 non-null   object
 19  Reduced_Lunch              1350 non-null   object
 20  Directly_Certified         1350 non-null   object
 21  school_type                1506 non-null   object
 22  Coed?                      1506 non-null   object
 23  Relig                      1506 non-null   object
 24  Community_Type             1506 non-null   object
 25  Relig_subtype              1506 non-null   object
 26  School_ID(private)         156 non-null    object
 27  PSS_COUNTY_NO              156 non-null    float64
 28  County_FIPS                156 non-null    float64
 29  demo_pct_American_Indian   1082 non-null   float64
 30  demo_pct_Asian             1083 non-null   float64
 31  demo_pct_Hispanic          1082 non-null   float64
 32  demo_pct_Black             1083 non-null   float64
 33  demo_pct_White             1082 non-null   float64
 34  demo_pct_Pacific_Islander  1083 non-null   float64
 35  demo_pct_Two_or_More       1082 non-null   float64
 36  PSS_ASSOC_1                156 non-null    object
dtypes: float64(13), int64(1), object(23)
memory usage: 435.5+ KB

In [54]:
# Run And PRINT
# df = pd.DataFrame({"Name": ["Alice", "Bob"], "Age": [25, 30]})
print(generate_quickdbd(df, "school_master_table"))

school_master_table
-
  School_Name PK varchar
  District varchar
  County_Name varchar
  Street_Address varchar
  City varchar
  State varchar
  ZIP int
  ZIP_4_digit float
  Phone varchar
  Locale_Code float
  Locale varchar
  Charter varchar
  Magnet varchar
  Title_I_School varchar
  Title_1_School_Wide varchar
  HS_ENROLL float
  Teachers float
  Student_Teacher_Ratio varchar
  Free_Lunch varchar
  Reduced_Lunch varchar
  Directly_Certified varchar
  school_type varchar
  Coed_ varchar
  Relig varchar
  Community_Type varchar
  Relig_subtype varchar
  School_ID_private_ varchar
  PSS_COUNTY_NO float
  County_FIPS float
  demo_pct_American_Indian float
  demo_pct_Asian float
  demo_pct_Hispanic float
  demo_pct_Black float
  demo_pct_White float
  demo_pct_Pacific_Islander float
  demo_pct_Two_or_More float
  PSS_ASSOC_1 varchar