### Parse the district html

#### Goal: get dataframe that includes district games and times

## each region runs 1-10 with 8-10 being the state semi final and final

## Base url

'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/'

then groupNumber

'/SportSeasonId/424201/Classification/'

divsionNumber

In [29]:
## 
import pandas as pd
import numpy as np
import os

In [30]:
## open the match_df and change the names back to Title case so it can be used with the other dataframes

match_df = pd.read_csv('../BB_CLEAN/data/match_df.csv')

In [31]:
match_df.columns

Index(['ProperName', 'PopularName', 'ProperName_Score', 'PopularName_Score',
       'MHSAA_SchoolId', 'SchoolInfo_Index', 'School_Name', 'City'],
      dtype='object')

In [33]:
cols = ['ProperName', 'PopularName', 'School_Name']

## Title case the names in the columns
for col in cols:
    match_df[col] = match_df[col].str.title()

In [36]:
## Replace 'High School' in ProperName with 'HS' to match the other dataframes

match_df['ProperName'] = match_df['ProperName'].str.replace('High School', 'HS')

In [37]:
match_df.head()

,ProperName,PopularName,ProperName_Score,PopularName_Score,MHSAA_SchoolId,SchoolInfo_Index,School_Name,City
0,Brighton HS,Brighton,100,50,3834,143,Brighton High School,BRIGHTON
1,Roseville HS,Roseville,100,53,3837,1057,Roseville High School,ROSEVILLE
2,Shepherd HS,Shepherd,100,50,3838,1086,Shepherd High School,SHEPHERD
3,Corunna HS,Corunna,100,46,3844,300,Corunna High School,CORUNNA
4,Arts Academy In The Woods,Fraser Arts Academy,100,68,3845,51,Arts Academy In The Woods,Fraser

In [38]:

## Save the dataframe
match_df.to_csv('../BB_CLEAN/data/match_df.csv', index=False)

In [39]:
match_df.head()

,ProperName,PopularName,ProperName_Score,PopularName_Score,MHSAA_SchoolId,SchoolInfo_Index,School_Name,City
0,Brighton HS,Brighton,100,50,3834,143,Brighton High School,BRIGHTON
1,Roseville HS,Roseville,100,53,3837,1057,Roseville High School,ROSEVILLE
2,Shepherd HS,Shepherd,100,50,3838,1086,Shepherd High School,SHEPHERD
3,Corunna HS,Corunna,100,46,3844,300,Corunna High School,CORUNNA
4,Arts Academy In The Woods,Fraser Arts Academy,100,68,3845,51,Arts Academy In The Woods,Fraser

In [ ]:
asd;lfhasd;lkf

In [10]:
## Load full semi-raw public HS data

path = 'public_school_demo_data.csv'

df = pd.read_csv(path, encoding='latin-1')

df.info()

# df_public.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   school_name                       1314 non-null   object
 1   school_id                         1314 non-null   int64
 2   school_district                   1314 non-null   object
 3   school_district_id                1314 non-null   int64
 4   total_students                    1314 non-null   float64
 5   teachers                          1314 non-null   float64
 6   student_teacher_ratio             1314 non-null   object
 7   lunch_free_count                  1314 non-null   object
 8   lunch_reduced_count               1314 non-null   object
 9   lunch_total_count                 1314 non-null   object
 10  9                                 974 non-null    float64
 11  10                                972 non-null    float64
 12  11                                970 non-null    float64
 13  12                                838 non-null    float64
 14  American Indian/Alaska Native     1234 non-null   float64
 15  Asian                             1234 non-null   float64
 16  Black                             1234 non-null   float64
 17  Hispanic                          1234 non-null   float64
 18  Native Hawaiian/Pacific Islander  1234 non-null   float64
 19  White                             1234 non-null   float64
 20  Two or MoreRaces                  1234 non-null   float64
 21  Male                              1314 non-null   int64
 22  Female                            1314 non-null   int64
 23  KG                                298 non-null    float64
 24  1                                 304 non-null    float64
 25  2                                 306 non-null    float64
 26  3                                 312 non-null    float64
 27  4                                 329 non-null    float64
 28  5                                 184 non-null    float64
 29  6                                 179 non-null    float64
 30  7                                 278 non-null    float64
 31  8                                 327 non-null    float64
 32  PK                                177 non-null    object
 33  Ungraded                          81 non-null     float64
dtypes: float64(23), int64(4), object(7)
memory usage: 349.2+ KB

In [11]:
### clean the data to only the high school level (grades 9-12)

## Add the values in the 9 10 11 12 columns to get HS_ENROLL by column position
df['HS_ENROLL'] = df.iloc[:, 9:13].sum(axis=1)

# drop any rows that have a 0 in the HS_ENROLL column
df = df[df['HS_ENROLL'] != 0]

df.head()

df.columns

C:\Users\Justin\AppData\Local\Temp\ipykernel_11104\3280483564.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['HS_ENROLL'] = df.iloc[:, 9:13].sum(axis=1)

Index(['school_name', 'school_id', 'school_district', 'school_district_id',
       'total_students', 'teachers', 'student_teacher_ratio',
       'lunch_free_count', 'lunch_reduced_count', 'lunch_total_count', '9',
       '10', '11', '12', 'American Indian/Alaska Native', 'Asian', 'Black',
       'Hispanic', 'Native Hawaiian/Pacific Islander', 'White',
       'Two or MoreRaces', 'Male', 'Female', 'KG', '1', '2', '3', '4', '5',
       '6', '7', '8', 'PK', 'Ungraded', 'HS_ENROLL'],
      dtype='object')

In [12]:
# df.shape
# df.info()

# rename demo columns to match scchool master table

name_list = ['demo_pct_American_Indian','demo_pct_Asian',
             'demo_pct_Hispanic','demo_pct_Black',
             'demo_pct_White','demo_pct_Pacific_Islander',
             'demo_pct_Two_or_More']

replace_list = ['American Indian/Alaska Native', 'Asian',
                'Hispanic', 'Black',
                'White', 'Native Hawaiian/Pacific Islander',
                'Two or MoreRaces']

# replace the coumn names
df.rename(columns=dict(zip(replace_list, name_list)), inplace=True)

## Multiply the demo_pct columns by 100 so they are in whole numbers to match the school master table
df[name_list] = df[name_list].multiply(100)

In [13]:
## calculate male / female percentage

df['Male'] = df['Male'] / df['total_students']
df['Female'] = df['Female'] / df['total_students']

In [14]:
# rename school_name to match other df
df.rename(columns={'school_name':'School_Name'}, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 899 entries, 0 to 1313
Data columns (total 35 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   School_Name                899 non-null    object
 1   school_id                  899 non-null    int64
 2   school_district            899 non-null    object
 3   school_district_id         899 non-null    int64
 4   total_students             899 non-null    float64
 5   teachers                   899 non-null    float64
 6   student_teacher_ratio      899 non-null    object
 7   lunch_free_count           899 non-null    object
 8   lunch_reduced_count        899 non-null    object
 9   lunch_total_count          899 non-null    object
 10  9                          886 non-null    float64
 11  10                         883 non-null    float64
 12  11                         872 non-null    float64
 13  12                         753 non-null    float64
 14  demo_pct_American_Indian   899 non-null    float64
 15  demo_pct_Asian             899 non-null    float64
 16  demo_pct_Black             899 non-null    float64
 17  demo_pct_Hispanic          899 non-null    float64
 18  demo_pct_Pacific_Islander  899 non-null    float64
 19  demo_pct_White             899 non-null    float64
 20  demo_pct_Two_or_More       899 non-null    float64
 21  Male                       899 non-null    float64
 22  Female                     899 non-null    float64
 23  KG                         0 non-null      float64
 24  1                          0 non-null      float64
 25  2                          0 non-null      float64
 26  3                          0 non-null      float64
 27  4                          13 non-null     float64
 28  5                          23 non-null     float64
 29  6                          147 non-null    float64
 30  7                          250 non-null    float64
 31  8                          301 non-null    float64
 32  PK                         17 non-null     object
 33  Ungraded                   61 non-null     float64
 34  HS_ENROLL                  899 non-null    float64
dtypes: float64(26), int64(2), object(7)
memory usage: 252.8+ KB

In [16]:
## open the school master table and merge the demographic columns into the master table

path = 'TEMP\clean_tables\school_master_table.csv'

master_df = pd.read_csv(path, encoding='latin-1')

master_df.columns

Index(['School Name', 'District', 'County Name', 'Street Address', 'City',
       'State', 'ZIP', 'ZIP 4-digit', 'Phone', 'Locale Code', 'Locale',
       'Charter', 'Magnet', 'Title I School', 'Title 1 School Wide',
       'HS_ENROLL', 'Teachers', 'Student Teacher Ratio', 'Free Lunch',
       'Reduced Lunch', 'Directly Certified', 'school_type', 'Coed?', 'Relig',
       'Community_Type', 'Relig_subtype', 'School ID(private)',
       'PSS_COUNTY_NO', 'County FIPS', 'demo_pct_American Indian',
       'demo_pct_Asian', 'demo_pct_Hispanic', 'demo_pct_Black',
       'demo_pct_White', 'demo_pct_Pacific Islander', 'demo_pct_Two_or_More',
       'PSS_ASSOC_1'],
      dtype='object')

In [17]:
# change master school name column

## replace an spaces in the master_df column names with underscores
master_df.columns = master_df.columns.str.replace(' ', '_')

In [18]:
master_df.columns

Index(['School_Name', 'District', 'County_Name', 'Street_Address', 'City',
       'State', 'ZIP', 'ZIP_4-digit', 'Phone', 'Locale_Code', 'Locale',
       'Charter', 'Magnet', 'Title_I_School', 'Title_1_School_Wide',
       'HS_ENROLL', 'Teachers', 'Student_Teacher_Ratio', 'Free_Lunch',
       'Reduced_Lunch', 'Directly_Certified', 'school_type', 'Coed?', 'Relig',
       'Community_Type', 'Relig_subtype', 'School_ID(private)',
       'PSS_COUNTY_NO', 'County_FIPS', 'demo_pct_American_Indian',
       'demo_pct_Asian', 'demo_pct_Hispanic', 'demo_pct_Black',
       'demo_pct_White', 'demo_pct_Pacific_Islander', 'demo_pct_Two_or_More',
       'PSS_ASSOC_1'],
      dtype='object')

In [19]:
## merge the demographic columns into the master table
# match on school name and only send the columns we want to merge

# First, merge the two dataframes on 'School Name'
merged_df = pd.merge(master_df, df[['School_Name', 'demo_pct_American_Indian', 'demo_pct_Asian', 
                                    'demo_pct_Hispanic', 'demo_pct_Black', 'demo_pct_White', 
                                    'demo_pct_Pacific_Islander', 'demo_pct_Two_or_More']], 
                     on='School_Name', 
                     how='left', 
                     suffixes=('', '_y'))

# Now, fill in the missing values in the original dataframe with the values from the new dataframe
for column in ['demo_pct_American_Indian', 'demo_pct_Asian', 'demo_pct_Hispanic', 'demo_pct_Black', 
               'demo_pct_White', 'demo_pct_Pacific_Islander', 'demo_pct_Two_or_More']:
    merged_df[column].fillna(merged_df[column + '_y'], inplace=True)

# Finally, drop the duplicate columns
merged_df.drop(columns=[column + '_y' for column in ['demo_pct_American_Indian', 'demo_pct_Asian', 
                                                    'demo_pct_Hispanic', 'demo_pct_Black', 
                                                    'demo_pct_White', 'demo_pct_Pacific_Islander', 
                                                    'demo_pct_Two_or_More']], inplace=True)

In [20]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1506 entries, 0 to 1505
Data columns (total 37 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   School_Name                1506 non-null   object
 1   District                   1350 non-null   object
 2   County_Name                1506 non-null   object
 3   Street_Address             1506 non-null   object
 4   City                       1506 non-null   object
 5   State                      1506 non-null   object
 6   ZIP                        1506 non-null   int64
 7   ZIP_4-digit                1204 non-null   float64
 8   Phone                      1505 non-null   object
 9   Locale_Code                1350 non-null   float64
 10  Locale                     1506 non-null   object
 11  Charter                    1506 non-null   object
 12  Magnet                     1506 non-null   object
 13  Title_I_School             1506 non-null   object
 14  Title_1_School_Wide        1506 non-null   object
 15  HS_ENROLL                  1506 non-null   float64
 16  Teachers                   1350 non-null   float64
 17  Student_Teacher_Ratio      1506 non-null   object
 18  Free_Lunch                 1350 non-null   object
 19  Reduced_Lunch              1350 non-null   object
 20  Directly_Certified         1350 non-null   object
 21  school_type                1506 non-null   object
 22  Coed?                      1506 non-null   object
 23  Relig                      1506 non-null   object
 24  Community_Type             1506 non-null   object
 25  Relig_subtype              1506 non-null   object
 26  School_ID(private)         156 non-null    object
 27  PSS_COUNTY_NO              156 non-null    float64
 28  County_FIPS                156 non-null    float64
 29  demo_pct_American_Indian   1082 non-null   float64
 30  demo_pct_Asian             1083 non-null   float64
 31  demo_pct_Hispanic          1082 non-null   float64
 32  demo_pct_Black             1083 non-null   float64
 33  demo_pct_White             1082 non-null   float64
 34  demo_pct_Pacific_Islander  1083 non-null   float64
 35  demo_pct_Two_or_More       1082 non-null   float64
 36  PSS_ASSOC_1                156 non-null    object
dtypes: float64(13), int64(1), object(23)
memory usage: 447.1+ KB

In [21]:
### Save it to the clean tables directory but don't overwrite the original master table

path = 'TEMP\clean_tables\school_master_table_NEW_POST_MERGE.csv'

merged_df.to_csv(path, index=False)

In [22]:
## Drop columns

col = ['PK','KG','1','2','3','4','5','6','7','8','9','10','11','12','Ungraded']

df.drop(col, axis=1, inplace=True)

In [23]:
df.shape

df.columns

Index(['School_Name', 'school_id', 'school_district', 'school_district_id',
       'total_students', 'teachers', 'student_teacher_ratio',
       'lunch_free_count', 'lunch_reduced_count', 'lunch_total_count',
       'demo_pct_American_Indian', 'demo_pct_Asian', 'demo_pct_Black',
       'demo_pct_Hispanic', 'demo_pct_Pacific_Islander', 'demo_pct_White',
       'demo_pct_Two_or_More', 'Male', 'Female', 'HS_ENROLL'],
      dtype='object')

In [24]:



# Rename columns to match private school data
# Rename Students to HS_ENROLL

df_public = df_public.rename(columns={'Students': 'HS_ENROLL'})

# Create and fill some columns that are from the private school data
df_public = df_public.assign(
    **{'Coed': 'Yes',
    'Relig': 'None',
    'Community_Type': df_public['Locale'].str.split(':').str[0],
    'Relig_subtype': 'None'}
)

NameError: name 'df_public' is not defined

In [ ]:
### END
break

In [ ]:
## Create List of urls to parse

import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import logging

base = 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/'
base2 = '/SportSeasonId/424201/Classification/'

bracket = []
division = []

## Create a list of urls to parse
for i in range(1, 9):
    for j in range(1, 5):
        bracket.append(base + str(i) + base2 + str(j))
        division.append(str(i) + '-' + str(j))

## Create a dictionary of urls and divisions
bracket_dict = dict(zip(division, bracket))

# create a list of all the urls
url_list = list(bracket_dict.values())

print(url_list[0:5])

In [ ]:
def scrape_bracket(url):
    # Request the webpage
    response = requests.get(url)

    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html.parser')

    # Find all divs containing game info
    games = soup.find_all('div', class_='contestboxhover')

    # Find all li elements containing score info
    scores_li = soup.find_all('li')

    # Create a dictionary to store scores
    scores_dict = {}
    for score in scores_li:
        # Check if the list item contains a score
        if ',' in score.text:
            try:
                # Split teams and score
                team_score1, team_score2 = score.text.split(", ")
                # Further split into team and score
                team1, score1_str = team_score1.rsplit(' ', 1)
                team2, score2_str = team_score2.rsplit(' ', 1)
                # Convert scores to int
                score1, score2 = int(score1_str), int(score2_str)
                # Map teams to score in dictionary
                scores_dict[(team1.strip(), team2.strip())] = (score1, score2)
                print(f"Processed score: {team1} {score1} vs {team2} {score2}")  # Print the processed score for debugging
            except ValueError:
                print(f"Failed to process score: {score.text}")  # Print the score that failed to process
                continue

### Create a dataframe from the scores dictionary
    scores_df = pd.DataFrame.from_dict(scores_dict, orient='index', columns=['Score1', 'Score2'])

       # Initialize an empty list to store game data
    data = []

    # Iterate over each game
    for game in games:
        try:
            round_elem = game.find('span', class_='contesttitle')
            round = round_elem.text if round_elem else None

            date_time_elem = game.find('span', class_='contestdate')
            if date_time_elem:
                date_time = date_time_elem.text.split()
                date = ' '.join(date_time[:3])
                time = ' '.join(date_time[3:])
            else:
                date, time = None, None

            location_elem = game.find('span', class_='contestlocation')
            location = location_elem.text if location_elem else None

            teams = game.find_all('div', class_=['line1hov', 'line2hov'])
            team1 = teams[0].text.strip() if teams else None
            team2 = teams[1].text.strip() if teams else None

            
            print(f"Processing game: {team1} vs {team2}")  # Add this line to print the teams


            score1, score2 = scores_dict.get((team1, team2), (None, None))

            print(f"Found scores: {score1} - {score2}")  # Add this line to print the found scores

            data.append([round, date, time, location, team1, score1, team2, score2])

        except Exception as e:
            print(f'Error processing game: {e}')
            continue

    # Create a DataFrame from the games data
    game_df = pd.DataFrame(data, columns=['Round', 'Date', 'Time', 'Location', 'Team1', 'Score1', 'Team2', 'Score2'])

    
    return game_df, scores_df


url = "https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/classification/3/sportseasonid/424201/bracketgroup/1"
games_df, scores_df = scrape_bracket(url)

In [ ]:
urls = url_list # replace with your list of URLs
game_dataframes = []
score_dataframes = []

for url in urls:
    df_games, df_scores = scrape_bracket(url)
    game_dataframes.append(df_games)
    score_dataframes.append(df_scores)

In [ ]:


# Assign a name to the first column of the scores dataframe
df_scores.index.name = 'Teams'
## Split that column into two columns
df_scores[['Team1', 'Team2']] = df_scores.index.to_series().apply(pd.Series)

# Reindex the scores dataframe
df_scores = df_scores.reindex(columns=['Team1', 'Score1', 'Team2', 'Score2'])

df_scores.head()

In [ ]:
df_scores.head()

In [ ]:
## Save each dataframe to a csv so I can get a close look
# df_games.to_csv('TEMP/df_games.csv')
df_scores.to_csv('data/MHSAA/MHSAA_Scores.csv')

In [ ]:
## Apply the score to the bracket dataframe

## open bracket dataframe
df_bracket = pd.read_csv('data/MHSAA/mhsaa_brackets.csv')

## Drop the Score columns if there are any
if 'Score1' in df_bracket.columns:
    df_bracket.drop(['Score1', 'Score2'], axis=1, inplace=True)
    
df_bracket.head()

In [ ]:
## Clean the team names in both dfs to match
# Convert to lower case and strip leading/trailing white spaces
df_bracket['Team1'] = df_bracket['Team1'].fillna('').str.lower().str.strip()
df_bracket['Team2'] = df_bracket['Team2'].fillna('').str.lower().str.strip()
df_scores['Team1'] = df_scores['Team1'].fillna('').str.lower().str.strip()
df_scores['Team2'] = df_scores['Team2'].fillna('').str.lower().str.strip()


# Create a column in each df with the pair of teams in a game in alphabetical order to match
# Create unique identifiers for each game
df_bracket['team_pair'] = df_bracket.apply(lambda row: '_'.join(sorted([row['Team1'], row['Team2']])), axis=1)
df_scores['team_pair'] = df_scores.apply(lambda row: '_'.join(sorted([row['Team1'], row['Team2']])), axis=1)

# # make sure the District column is a string (for the javascript. it expects it that way for some reason)
# df_bracket['District'] = df_bracket['District'].astype(str)

In [ ]:
# df_bracket.head()
df_scores.head()

In [ ]:
# Do a fuzzy match on the team_pair columns to try to get better results
# try to match the values of df_scores['team_pair'] to df_bracket['team_pair']
# use those matches to copy the scores from df_scores to df_bracket

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Create a list of unique team pairs from the scores dataframe
team_pairs = df_scores['team_pair'].unique().tolist()

# Find a match in the bracket dataframe for each team pair
for team_pair in team_pairs:
    # Find the best match in the bracket dataframe for the team pair
    match = process.extractOne(team_pair, df_bracket['team_pair'])
    # If the match has a score of 100, it is a perfect match
    if match[1] == 100:
        # Get the index of the match
        match_index = df_bracket[df_bracket['team_pair'] == match[0]].index[0]
        # Copy the scores from the scores dataframe to the bracket dataframe
        df_bracket.loc[match_index, 'Score1'] = df_scores[df_scores['team_pair'] == team_pair]['Score1'].values[0]
        df_bracket.loc[match_index, 'Score2'] = df_scores[df_scores['team_pair'] == team_pair]['Score2'].values[0]
    # If the match has a score of less than 100, it is not a perfect match
    elif match[1] < 100:
        # Get the index of the match
        match_index = df_bracket[df_bracket['team_pair'] == match[0]].index[0]
        # Copy the scores from the scores dataframe to the bracket dataframe
        df_bracket.loc[match_index, 'Score1'] = df_scores[df_scores['team_pair'] == team_pair]['Score1'].values[0]
        df_bracket.loc[match_index, 'Score2'] = df_scores[df_scores['team_pair'] == team_pair]['Score2'].values[0]
    # If the match has a score of 0, there is no match
    elif match[1] == 0:
        print(f"No match found for {team_pair}")

In [ ]:
# df_scores.head(20)
# df_bracket.head(20)

# Check to see if there were any games that got a score
df_bracket[df_bracket['Score1'].notnull() | df_bracket['Score2'].notnull()]

# show a count of the number of games that got a score
df_bracket[df_bracket['Score1'].notnull() | df_bracket['Score2'].notnull()].count()

In [ ]:
df_bracket.info()

In [ ]:
df_merge = df_bracket.copy()
## Recapitalize the team names
df_merge['Team1'] = df_merge['Team1'].str.title()
df_merge['Team2'] = df_merge['Team2'].str.title()
df_merge.head()

In [ ]:
### Save the newly merged dataframe to a csv
df_merge.to_csv('data/MHSAA/mhsaa_brackets.csv', index=False)

# save to a json file
df_merge.to_json('data/html/mhsaa/data/district_dict.json', orient='records')

In [ ]:
### SAVE TO CSV

final_df.to_csv('TEMP/mhsaa_brackets.csv', index=False)

### output a json
final_df.to_json('data/html/mhsaa/data/district_dict.json', orient='records')

In [ ]:
final_df.info()
final_df.describe()
final_df.head()

## END

In [ ]:
## Load a csv and output a json
df = pd.read_csv('../data/MHSAA/mhsaa_brackets.csv')

## End Of Work Block

In [ ]:

# Importing the libraries
import pandas as pd

# df = pd.read_csv('data/fields_cleaned.csv')

## Read json into a dataframe
df = pd.read_json('data/default_updated_output.json')


df.head()

print(df.columns)

In [ ]:
len(df)

In [ ]:
def rank_fields(data):
    # Define weights for each parameter
    weights = {
        'max_distance': -1, # negative weight since longer fences favor pitchers
        'min_distance': 1,  # positive weight since shorter fences favor hitters
        'avg_distance': -1, # negative weight since longer fences favor pitchers
        'median_distance': -1, # negative weight since longer fences favor pitchers
        'field_area_sqft': -1,  # negative weight since larger fields favor pitchers
        'fair_to_foul': -1,  # negative weight since larger ratio (more foul territory) favors pitchers
    }

    # Standardize features (subtract mean and divide by standard deviation)
    standardized_data = data.copy()
    for column in weights.keys():
        standardized_data[column] = (standardized_data[column] - standardized_data[column].mean()) / standardized_data[column].std()

    # Calculate score for each field
    standardized_data['score'] = standardized_data.apply(lambda row: sum(row[param] * weight for param, weight in weights.items()), axis=1)

    # Rank fields based on score (higher scores are more hitter-friendly)
    ranked_fields = standardized_data.sort_values('score', ascending=False)

    return ranked_fields

# Suppose 'df' is your DataFrame containing the field data
ranked_fields = rank_fields(df)
print(ranked_fields[['park_name', 'score']])

In [ ]:

ranked_fields.to_csv('data/ALL_ranked_fields.csv', index=False)

In [ ]:
from tqdm import tqdm
import numpy as np

import googlemaps
import pandas as pd

gmaps = googlemaps.Client(key='AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA')

In [ ]:
## USING KEYWORDS

from tqdm import tqdm

def get_place_names(coord, client):
    """
    Get place names using Google Places API.
    
    Parameters:
    coord: str - Coordinates in the format (lng, lat).
    client: googlemaps.Client - Google Maps client.
    
    Returns:
    list: Three closest place names.
    """
    try:
        # Parse coordinates
        lng, lat = map(float, coord.strip('()').split(', '))
        # Swap longitude and latitude for Google API
        places_result_1 = client.places_nearby(location=(lat, lng), radius=1000, keyword='baseball field')
        places_result_2 = client.places_nearby(location=(lat, lng), radius=1000, keyword='school')
        places_result_3 = client.places_nearby(location=(lat, lng), radius=1000, type='park')
        places_result = places_result_1['results'] + places_result_2['results'] + places_result_3['results']
        place_names = [place['name'] for place in places_result[:5]]
        return place_names
    except:
        # Return NaN if there is an error
        return [np.nan]*5


# Use tqdm to create progress bar
tqdm.pandas()

# Apply the function to each coordinate in 'home_plate'
df['place_names'] = df['home_plate'].progress_apply(lambda coord: get_place_names(coord, gmaps))

# Split 'place_names' into five separate columns
df[['Place 1', 'Place 2', 'Place 3', 'Place 4', 'Place 5']] = pd.DataFrame(df['place_names'].to_list(), index=df.index)

# Create new dataframe 'place_test_df' with the necessary columns
place_test_df = df[['park_name', 'Place 1', 'Place 2', 'Place 3', 'Place 4', 'Place 5']]
place_test_df.head()

In [ ]:
## Output Csv for manual cleaning

place_test_df.to_csv('data/mhsaa_places.csv', index=False)

In [ ]:
# ## FIRST TRY - working, returned OK results

# from tqdm import tqdm

# def get_place_names(coord, client):
#     """
#     Get place names using Google Places API.
    
#     Parameters:
#     coord: str - Coordinates in the format (lng, lat).
#     client: googlemaps.Client - Google Maps client.
    
#     Returns:
#     list: Three closest place names.
#     """
#     try:
#         # Parse coordinates
#         lng, lat = map(float, coord.strip('()').split(', '))
#         # Swap longitude and latitude for Google API
#         places_result = client.places_nearby(location=(lat, lng), radius=100)
#         place_names = [place['name'] for place in places_result['results'][:3]]
#         return place_names
#     except:
#         # Return NaN if there is an error
#         return [np.nan, np.nan, np.nan]

# # Use tqdm to create progress bar
# tqdm.pandas()

# # Apply the function to each coordinate in 'home_plate'
# df['place_names'] = df['home_plate'].progress_apply(lambda coord: get_place_names(coord, gmaps))

# # Split 'place_names' into three separate columns
# df[['Place 1', 'Place 2', 'Place 3']] = pd.DataFrame(df['place_names'].to_list(), index=df.index)

# # Create new dataframe 'place_test_df' with the necessary columns
# place_test_df = df[['park_name', 'Place 1', 'Place 2', 'Place 3']]

In [ ]:
place_test_df.info()
place_test_df.head()

In [ ]:
### Save the dataframe to a csv file

place_test_df.to_csv('data/place_test.csv', index=False)

In [ ]:
## NEW ALL IN ONE DISTRICT REGIONAL COMBO BLOCK

import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# read the district host table
d_path = 'data/2023_district_hosts.csv'

# read regional table
r_path = 'data/2023_regional_hosts.csv'

# read the district host table
d_host = pd.read_csv(d_path)

# read regional table
r_host = pd.read_csv(r_path)

# Display summary of the district host table
print(d_host.info())

# Display summary of the regional host table
print(r_host.info())

# Lowercase the 'team' and 'park_name' columns to improve the match rate
d_host['team'] = d_host['team'].str.lower()
r_host['park_name'] = r_host['park_name'].str.lower()

def fuzzy_merge(df_1, df_2, key1, key2, threshold=90):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :return: dataframe with both tables joined on fuzzy match
    """
    s = df_2[key2].dropna().tolist()

    m = df_1[key1].dropna().apply(lambda x: process.extractOne(x, s, scorer=fuzz.ratio))  
    df_1['matches'] = m

    m2 = df_1['matches'].apply(lambda x: x[0] if x[1] >= threshold else np.nan)
    df_1['matches'] = m2

    merged = df_1.merge(df_2.rename(columns={key2: 'matches'}), on='matches', how='outer')

    # Remove the 'matches' column and return the merged dataframe
    merged = merged.drop(columns=['matches'])
    return merged

# Execute the function
merged_df = fuzzy_merge(d_host, r_host, 'team', 'park_name')

In [ ]:


## Rename some colums for clarity and drop unnecessary columns

merged_df = merged_df.rename(columns={'division_x' : 'district_div', 'division_y' : 'regional_div'})

merged_df = merged_df.drop(columns=['color4', 'Unnamed: 3', 'score'])

merged_df.info()

In [ ]:

# save the merged dataframe to a csv file

merged_df.to_csv('data/2023_all_hosts.csv', index=False)

## BREAK

k

In [ ]:
### merge the district host and the regional host into a all_host.csv table

import pandas as pd
import numpy as np

# read the district host table
d_path = 'data/2023_district_hosts.csv'


# read rional table
r_path = 'data/2023_regional_hosts.csv'

## read the district host table
d_host = pd.read_csv(d_path)

## read rional table
r_host = pd.read_csv(r_path)

## Display summary og the district host table

print(d_host.info())

## Display summary og the regional host table

print(r_host.info())

In [ ]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Lowercase the 'team' and 'park_name' columns to improve the match rate
d_host['team'] = d_host['team'].str.lower()
r_host['park_name'] = r_host['park_name'].str.lower()

def fuzzy_merge(df_1, df_2, key1, key2, threshold=90):
    """
    :param df_1: the left table to join
    :param df_2: the right table to join
    :param key1: key column of the left table
    :param key2: key column of the right table
    :param threshold: how close the matches should be to return a match, based on Levenshtein distance
    :return: dataframe with both tables joined on fuzzy match
    """
    s = df_2[key2].tolist()

    m = df_1[key1].apply(lambda x: process.extract(x, s, limit=1))  
    df_1['matches'] = m

    m2 = df_1['matches'].apply(lambda x: x[0][0] if x[0][1] >= threshold else '')
    df_1['matches'] = m2

    merged = df_1.merge(df_2.rename(columns={key2: 'matches'}), on='matches', how='outer')

    # Remove the 'matches' column and return the merged dataframe
    merged = merged.drop(columns=['matches'])
    return merged

# Execute the function
merged_df = fuzzy_merge(d_host, r_host, 'team', 'park_name')

In [ ]:
merged_df.head()

merged_df.info()

In [ ]:
## output merged table to csv

merged_df.to_csv('data/2023_all_hosts.csv', index=False)

In [ ]:
## Make a JSON with all the ditrict assignments
## Include Tema nickname
## Output a dictionary with district number as key, host team and a list of the rest of the teams

import os
import json
import pandas as pd

# Build the file path using os.path.join
file_path = os.path.join('data', '2023_all_teams_nickname_colors.csv')


# teaminfo_path = 'data\2023_team_info.csv'

## load into df

teaminfo_df = pd.read_csv(file_path)

In [ ]:
### combine the team name and the nickname to make a new column

teaminfo_df['team_name'] = teaminfo_df['team'] + ' ' + teaminfo_df['nickname']

teaminfo_df.head()

## Create a column with a search term string
## This will be used to search for the team in the TBA API
## Just want school name + 'high school' + 'michigan' 
# teaminfo_df['search'] = teaminfo_df['team'] + ' high school michigan'

## Create a json that is grouped by district and contains a list of all the teams names in that district

## Create a list of all the districts

district_list = teaminfo_df['district'].unique().tolist()

## Create a dictionary with the district as the key and the value is a list of all the teams in that district with the search field

district_dict = {}

for district in district_list:
    district_dict[district] = teaminfo_df[teaminfo_df['district'] == district]['team_name'].tolist()
    # district_dict[district].append(teaminfo_df[teaminfo_df['district'] == district]['search'].tolist())
    

## sort by district number

district_dict = dict(sorted(district_dict.items()))

In [ ]:
## Save to a json called district_dict.json

with open('district_dict.json', 'w') as fp:
    json.dump(district_dict, fp)

In [ ]:
import os
import json

# Build the file path using os.path.join
file_path = os.path.join('data', 'html', 'mhsaa', 'data', 'tourney_2023.json')

load = json.load(open(file_path))
# Convert to df

df = pd.DataFrame(load)
df.info()

In [ ]:
## list of column names

list(df.columns)

In [ ]:
### Look at the Oxford High School data

oxford = df[df['park_name'] == 'Oxford HS']
oxford

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd
from fuzzywuzzy import fuzz, process
import re

# Load HTML
html_path = 'data/districts_2023.html'
with open(html_path, 'r') as f:
    html = f.read()

# Parse HTML
soup = BeautifulSoup(html, 'html.parser')

# Extract data
divisions = soup.find_all('div', class_='keep-together')

data = []
for division in divisions:
    division_number = division.find('span', {'data-bind': 'text:Division'}).text
    tournament_name = division.find('span', {'data-bind': 'text:TournamentName'}).text
    host = division.find('span', {'data-bind': 'text:Host'}).text
    teams = [a.text for a in division.find_all('a')[1:]]

    for team in teams:
        data.append({
            'team': team,
            'division': division_number,
            'district': int(re.sub(r'\D+', '', tournament_name)),
            'host': host,
        })

# Create DataFrame
df_by_district = pd.DataFrame(data)

# Load the csv that contains nickname info
df_nickname = pd.read_csv('data/school_info/mhsaa_school_nickname_color_2020.csv')
df_nickname.columns = df_nickname.columns.str.lower()

# Fuzzy match team names
matches = df_by_district['team'].apply(lambda x: process.extractOne(x, df_nickname['school'], scorer=fuzz.ratio))

df_by_district['match_name'] = [i[0] for i in matches]
df_by_district['score'] = [i[1] for i in matches]

# Merge df_by_district and df_nickname on the common columns generated by fuzzy matching
final_df = pd.merge(df_by_district, df_nickname, left_on='match_name', right_on='school', how='inner')

# Select only the columns you're interested in
final_df = final_df[['team', 'division', 'district', 'host', 'nickname', 'color1', 'color2', 'color3', 'color4', 'score']]

# Display the final dataframe
# print(final_df)
final_df.head(20)

In [ ]:
## Output dataframe to new file called 2023_team_info.csv

## Team info for 2023 output file
# drop host column
teams_df = final_df.drop(columns=['host'])

# Path: quick_workbook.ipynb
teams_df.to_csv('data/2023_team_info.csv', index=False)

In [ ]:
# Filter rows with matching host and team
matching_rows = final_df[final_df['host'] == final_df['team']]

# Sort the filtered rows by district number
sorted_rows = matching_rows.sort_values(by='district')

# Reset the index of the sorted rows
sorted_rows.reset_index(drop=True, inplace=True)

# Display the sorted dataframe
print(sorted_rows)

# Save the sorted dataframe to a CSV file
sorted_rows.to_csv('data/2023_district_hosts.csv', index=False)

In [ ]:
final_df.head(20)

## Show the lowest scores in the dataframe

final_df.sort_values(by='score').head(20)

## Show the distro of scores

# final_df['score'].hist()

## Show numberical counts of scores in incriments of 5

# final_df['score'].value_counts(bins=range(0, 101, 5))

# Number of match scores under 90

len(final_df[final_df['score'] < 90])

# Number of match scores under 80

len(final_df[final_df['score'] < 80])

# Single Block opperation above replaces the functionality of the following blocks of beta code

## Create a table with School info (Name, division, district assignment - from the district_2023 html on MHSAA site)

### Then merge that into the info from the table I have with School Nickname and colors

In [ ]:
## Load entire district tree from local html file

import pandas as pd
import numpy as np
import os
import re
import json
import requests
from bs4 import BeautifulSoup

html_path = 'data\districts_2023.html'

with open(html_path, 'r') as f:
    html = f.read()

In [ ]:
#### ALL IN ONE TRY ####

from bs4 import BeautifulSoup
import pandas as pd

html_doc = html
soup = BeautifulSoup(html_doc, 'html.parser')

# Create an empty DataFrame to store the data
df = pd.DataFrame(columns=['Division', 'Tournament Name', 'Host', 'Location', 'Teams'])

# Find all 'div' tags with class 'keep-together'
divisions = soup.find_all('div', class_='keep-together')

for division in divisions:
    division_number = division.find('span', {'data-bind': 'text:Division'}).text
    tournament_name = division.find('span', {'data-bind': 'text:TournamentName'}).text
    host = division.find('span', {'data-bind': 'text:Host'}).text
    location = division.find('a', {'data-bind': 'text: Title, attr: {href: LocationUrl}'}).text
    
    # Find all the team names, skipping the first 'a' tag which is the location
    teams = [a.text for a in division.find_all('a')[1:]]
    # # Remove the host team from the list
    # if host in teams:
    #     teams.remove(host)
    
    # Add data to the DataFrame
    df = df.append({
        'Division': division_number, 
        'Tournament Name': tournament_name, 
        'Host': host, 
        'Location': location, 
        'Teams': teams}, 
        ignore_index=True)

In [ ]:
### Get a DF with a row for every team

df_temp = df.explode('Teams')

df_temp.info()
df_temp.head()

In [ ]:
## Clean up the new team DF

## Drop The non numberical characters from 'Tournament Name' and Rename to 'District'

df_temp['District'] = df_temp['Tournament Name'].str.replace(r'\D+', '')

df_temp['District'] = df_temp['District'].astype(int)

# Drop the 'Tournament Name' column
df_temp.drop('Tournament Name', axis=1, inplace=True)

## Drop Host and Location

df_temp.drop(['Host', 'Location'], axis=1, inplace=True)

# Rename Teams to Team
df_temp.rename(columns={'Teams': 'Team'}, inplace=True)

# Remove capitalization from column names
df_temp.columns = df_temp.columns.str.lower()


## Move team name to first column

cols = df_temp.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_temp = df_temp[cols]

df_temp.head()

In [ ]:
### Rename df

df_by_district = df_temp

## Load the csv that contains nickname ect info

df_nickname = pd.read_csv('data\school_info\mhsaa_school_nickname_color_2020.csv')

## Remove capitalization from column names
df_nickname.columns = df_nickname.columns.str.lower()

df_nickname.head()

In [ ]:
### match and merge the dataframes based on Team name and School name

### Use fuzzy match to match team names

from fuzzywuzzy import fuzz
from fuzzywuzzy import process

def match_name(name, list_names, min_score=0):
    # -1 score incase we don't get any matches
    max_score = -1
    # Returning empty name for no match as well
    max_name = ""
    # Iternating over all names in the other
    for name2 in list_names:
        #Finding fuzzy match score
        score = fuzz.ratio(name, name2)
        # Checking if we are above our threshold and have a better score
        if (score > min_score) & (score > max_score):
            max_name = name2
            max_score = score
    return (max_name, max_score)

# List for dicts for easy dataframe creation
dict_list = []
# iterating over our players without salaries found above
for name in df_by_district.team:
    # Use our method to find best match, we can set a threshold here
    match = match_name(name, df_nickname.school, 75)
    
    # New dict for storing data
    dict_ = {}
    dict_.update({"team_name" : name})
    dict_.update({"match_name" : match[0]})
    dict_.update({"score" : match[1]})
    dict_list.append(dict_)
    
merge_table = pd.DataFrame(dict_list)
# Display results
# print(merge_table)

In [ ]:
## Do the table merges

df_by_district = df_by_district.merge(merge_table, left_on='team', right_on='team_name', how='left')
df_nickname = df_nickname.merge(merge_table, left_on='school', right_on='match_name', how='left')

In [ ]:
# Merge df_by_district and df_nickname on the common columns generated by fuzzy matching
final_df = pd.merge(df_by_district, df_nickname, left_on='team', right_on='match_name', how='inner')

# Select only the columns you're interested in
final_df = final_df[['team', 'division', 'district', 'nickname', 'color1', 'color2', 'color3', 'color4', 'score']]


# Display the final dataframe
print(final_df)

In [ ]:
# save to csv to check

df.to_csv('data\district_2023_team_and_host.csv', index=False)

### End 2023 Team info creation

In [ ]:
### Create a dictionary of all the teams seperated by division level

# Create an empty dictionary to store the data
divisions_dict = {}

##

In [ ]:
from bs4 import BeautifulSoup
import pandas as pd

html_doc = html
soup = BeautifulSoup(html_doc, 'html.parser')

# Create an empty DataFrame to store the data
df = pd.DataFrame(columns=['Division', 'Tournament Name', 'Host', 'Location', 'Teams'])

# Find all 'div' tags with class 'keep-together'
divisions = soup.find_all('div', class_='keep-together')

for division in divisions:
    division_number = division.find('span', {'data-bind': 'text:Division'}).text
    tournament_name = division.find('span', {'data-bind': 'text:TournamentName'}).text
    host = division.find('span', {'data-bind': 'text:Host'}).text
    location = division.find('a', {'data-bind': 'text: Title, attr: {href: LocationUrl}'}).text
    teams = [team.text for team in division.find_all('span', {'data-bind': 'highlightedText: { text: TeamName, highlight: $parents[1].Search, css: "highlight" }'})]
    
    # Add data to the DataFrame
    df = df.append({
        'Division': division_number, 
        'Tournament Name': tournament_name, 
        'Host': host, 
        'Location': location, 
        'Teams': teams}, 
        ignore_index=True)

In [ ]:
df.head()

In [ ]:
### Dependencies
import pandas as pd
import numpy as np


## File Paths
# Path to mhsaa tables to merge

enrollment_path = 'data\school_info\mhsaa_enrolment_2022.csv'
name_color_path = 'data\school_info\mhsaa_school_nickname_color_2020.csv'

df_enrol = pd.read_csv(enrollment_path)
df_name_color = pd.read_csv(name_color_path)

In [ ]:
### 5-9-23

## Code to scrape 2023 MHSAA Tourny Data

In [ ]:
import pandas as pd

# Replace this with the plain text containing the tournament information
# read a text file into the variable text

text = open('2023_districts_raw.txt', 'r').read()

# Split the text into sections for each division
sections = text.split('Division ')

# Remove the first empty string
sections.pop(0)

# Initialize empty lists for each column in the dataframe
divisions = []
districts = []
hosts = []
locations = []

# Loop through the sections and extract the relevant information
for section in sections:
    lines = section.split('\n')
    division = 'Division ' + lines[0]
    for line in lines[1:]:
        if 'Baseball District' in line:
            district = line
        elif 'Host:' in line:
            host = line.split(': ')[1]
        elif 'Location:' in line:
            location = line.split(': ')[1]
        elif line != '':
            # Skip any blank lines
            districts.append(district)
            divisions.append(division)
            hosts.append(host)
            locations.append(location)

# Create a dataframe to store the extracted information
df = pd.DataFrame({'Division': divisions, 'District': districts, 'Host': hosts, 'Location': locations})

# Print the dataframe
print(df)

In [ ]:
### DF came back as a ton of duplicates. I need to clean it up.

df = df.drop_duplicates()

# Reindex the dataframe
df = df.reset_index(drop=True)

# output the dataframe to a csv file
df.to_csv('data/2023_district_hosts.csv', index=False)


print(df)

In [ ]:
df.head(20)

df.info()

## Regional Locations

In [ ]:
### URLS of pages with retional data

urls = {'Division 1': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/1/SportSeasonId/424201',
        'Division 2': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/2/SportSeasonId/424201',
        'Division 3': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/3/SportSeasonId/424201',
        'Division 4': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/4/SportSeasonId/424201'}

In [ ]:
import requests
from lxml import html
import pandas as pd

# Define the URLs for each division
urls = {'Division 1': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/1/SportSeasonId/424201',
        'Division 2': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/2/SportSeasonId/424201',
        'Division 3': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/3/SportSeasonId/424201',
        'Division 4': 'https://my.mhsaa.com/Sports/MHSAA-Tournament-Brackets/BracketGroup/9/Classification/4/SportSeasonId/424201'}

# Initialize empty lists for each column in the dataframe
divisions = []
locations = []
links = []

# Loop through each division URL in the dictionary
for division, url in urls.items():
    try:
        # Send a GET request to the URL and parse the HTML content
        page = requests.get(url)
        tree = html.fromstring(page.content)

        # Find all the contest location spans using XPath
        location_spans = tree.xpath('//span[@class="contestlocation"]')

        # Loop through the location spans and extract the relevant information
        for location_span in location_spans:
            # Extract the location and link from the contest location span
            location = location_span.xpath('text()')[0].strip()
            link = location_span.xpath('a/@href')[0]
            # Append the information to the respective lists
            divisions.append(division)
            locations.append(location)
            links.append(link)
    except:
        print(f'Error: Failed to retrieve data for {division}')

# Create a dataframe to store the extracted information
df = pd.DataFrame({'Division': divisions, 'Location': locations, 'Link': links})

# Reset the index of the dataframe
df = df.reset_index(drop=True)

# Print the dataframe
print(df)

In [ ]:
## Clean up the dataframe

## Drop duplicates
df = df.drop_duplicates()

df.head(30)
# df.info()

In [ ]:
df.info()

### Output as a csv
## Might want to go back and adjust code to try to store which specific games are at each location
## regional has (semis and finals) then there is a quarterfinals round

df.to_csv('data/2023_regional_hosts.csv', index=False)

# Next Project

### Create a json with just the fields in michigan and try to integrate a column that marks the appropriate fields as host of districts and regionals

The text of the locations in the playoff csvs is not going to match the field names all that well. it might be worth trying to identify them from the map location - will have to go back to districts and extract map locations

In [ ]:
### Try to get all the google maps link from the districts page

import pandas as pd
from bs4 import BeautifulSoup

## Read local file
path = 'districts_2023.html'
html = open(path, 'r').read()


# Parse the HTML
soup = BeautifulSoup(html, 'html.parser')

# Find all the tournament divs
tournaments = soup.select('div.keep-together')

# Initialize lists to store data
district_numbers = []
hosts = []
locations = []

# Extract data for each tournament
for tournament in tournaments:
    district_number = tournament.find('span', {'data-bind': 'text:Division'}).text
    host = tournament.find('span', {'data-bind': 'text:Host'}).text
    location = tournament.find('a', {'target': '_blank'}).get('href')
    

    district_numbers.append(district_number)
    hosts.append(host)
    locations.append(location)

# Create a DataFrame
data = {'Division': district_numbers, 'Host': hosts, 'Location': locations}
df = pd.DataFrame(data)

# add another column the is the index number of the row + 1
df['District'] = df.index + 1

# Print the DataFrame
print(df)

df.to_csv('district_tournaments.csv', index=False)

# Try to match up locations from the scraped district and regional and link them to a field in my json data

## Stragegy: The district csv contains a field that has a link to a google maps search. Loop through all of those and return the lat and longitude coordinates then match the coordinates to the nearest home plate coordinate in the json

In [ ]:
import pandas as pd
import googlemaps

## paths

local_json = 'data\michigan_fields.json'

district_csv = 'district_tournaments.csv'

regional_csv = 'data\2023_regional_hosts.csv'

# Replace this with your own API key
api_key = "AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA"

In [ ]:
# load Data
df = pd.read_csv(district_csv)

# df.head()

df.info()

In [ ]:
### Clean up the location column to remove first portion and just leave the address remaining



# Remove the unwanted portion of the string in the 'Location' column
prefix = "http://maps.google.com/maps?q="

# Check if the location is a string before applying lstrip
df['Location'] = df['Location'].apply(lambda x: x.lstrip(prefix) if isinstance(x, str) else x)

# Print the cleaned DataFrame
print(df)

In [ ]:
df.head()

In [ ]:
## USES GOOGLE CODE
import pandas as pd
import googlemaps

# Replace 'your_api_key' with your actual Google Maps API key
api_key = 'AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA'
gmaps = googlemaps.Client(key=api_key)

# # Create a DataFrame from your data (use your actual DataFrame here)
# data = {
#     "Division": [1, 1, 1],
#     "Host": ["Marquette", "Midland Dow", "Muskegon Mona Shores"],
#     "Location": [
#         "North Marquette Fields, Marquette, MI",
#         "H H Dow High School - Baseball, 3901 N. Saginaw Rd. Midland, MI",
#         "Mona Shores Baseball Field, 1121 W. Seminole Rd. Muskegon, MI",
#     ],
#     "District": [1, 2, 3],
# }

# df = pd.DataFrame(data)

# Function to get the coordinates for a given address
def get_coordinates(address):
    geocode_result = gmaps.geocode(address)
    if geocode_result:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lng = geocode_result[0]["geometry"]["location"]["lng"]
        return (lat, lng)
    else:
        return None

# Apply the function to the 'Location' column and store the coordinates in a new column
df["Coordinates"] = df["Location"].apply(get_coordinates)

# Print the updated DataFrame
print(df)

In [ ]:
## Check Output

df.info()

## Google code worked OK - returned coords for 126 of 128

### Below I am going to try to match up those coordinates to the michigan fields jsons

In [ ]:
#### set up paths and load data(copied from above)


import pandas as pd
import json
# import googlemaps

## paths

local_json = 'data\michigan_fields.json'

district_csv = 'district_tournaments.csv'

regional_csv = 'data\2023_regional_hosts.csv'

# Replace this with your own API key
api_key = "AIzaSyA_BhlTupRdBPBhRptQuR6pYorMVYQnRMA"

# load Data
df = pd.read_csv(district_csv)

## Load MI fields data from json file


# Read the JSON file
with open(local_json) as f:
    data = json.load(f)

# Create a DataFrame from the JSON data
mi_df = pd.DataFrame(data)

mi_df.head()

# df.head()

In [ ]:
### Try a different approach to match the fields
## Use the Host name to find 3 matches from the mi_df
import pandas as pd
from fuzzywuzzy import fuzz, process

# Assuming you have the two dataframes df and mi_df

def find_closest_park_names(host, n_closest=3):
    closest_park_names = process.extract(host, mi_df["park_name"], limit=n_closest, scorer=fuzz.token_sort_ratio)
    return [name for name, score, index in closest_park_names]

# Apply the function to the 'Host' column and store the results in new columns
df[["closest_park_1", "closest_park_2", "closest_park_3"]] = df["Host"].apply(find_closest_park_names).apply(pd.Series)

# Print the updated DataFrame
print(df)

In [ ]:
### FUNCTION TO FIND NEAREST FIELD TO DISTRICT TOURNAMENT LOCATION

import math

## Define a function to calculate the Haversine distance between two points
def haversine_distance(coord1, coord2):
    # Convert latitude and longitude to radians
    lat1, lon1 = map(math.radians, coord1)
    lat2, lon2 = map(math.radians, coord2)

    # Calculate the differences between latitudes and longitudes
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Calculate the Haversine distance
    a = math.sin(dlat / 2) ** 2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon / 2) ** 2
    c = 2 * math.asin(math.sqrt(a))
    r = 6371  # Radius of the Earth in km

    return c * r

def find_closest_parks(coord, n_closest=3):
    if coord is None:
        return ["Unknown"] * n_closest

    mi_df["distance"] = mi_df["home_plate"].apply(lambda x: haversine_distance(coord, (x[1], x[0])))
    closest_park_indices = mi_df["distance"].nsmallest(n_closest).index
    return mi_df.loc[closest_park_indices, "park_name"].tolist()



# Make sure 'home_plate' in mi_df has coordinates in the format (lat, lng)
mi_df["home_plate"] = mi_df["home_plate"].apply(lambda x: (x[0], x[1]))

# Create a new column 'closest_park' in df
df[["closest_park_1", "closest_park_2", "closest_park_3"]] = df["Coordinates"].apply(find_closest_parks).apply(pd.Series)


# Print the updated DataFrame
print(df)

In [ ]:
df.head()

In [ ]:
## Output this matching as a csv so I can manulauly check it

df.to_csv('district_fields_text_match.csv', index=False)

## End of 5-9-23 Work for now. output csv file with possible matches for the district fields

# Working with outlier fields 

## Start 59/23 Night

In [ ]:
## Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Load files
out_df = pd.read_csv('outlier_fields.csv')

out_df.info()

In [ ]:
# df_out = df_out.copy

In [ ]:
import pandas as pd

# Assuming you already have the out_df DataFrame
# Creating an empty HP2 column
out_df['HP2'] = None

# Loop through the DataFrame rows and populate the HP2 column with repeated points
for idx, row in out_df.iterrows():
    fop_list = row['fop']
    repeated_points = [point for point in set(fop_list) if fop_list.count(point) > 1]
    if len(repeated_points) > 0:
        out_df.loc[idx, 'HP2'] = str(repeated_points[0])

# Display the updated DataFrame
out_df.head(20)

In [ ]:
import pandas as pd
import requests
from lxml import html

url = 'https://my.mhsaa.com/Sports/Baseball/Districts'  # Replace this with the URL of the webpage you want to scrape
page = requests.get(url)
tree = html.fromstring(page.content)

# Find the game location using the XPath
location = tree.xpath('/html/body/form/div[5]/div[2]/div/div/div[2]/div[1]/div/div/div/div/div/div/div/div[2]/div[2]/div[1]/div[2]/div[1]/a')[0]

# Extract the relevant information
name = location.text.strip()
link = location.get('href')
address = link.split('=')[1].strip()

# Create a dataframe to store the scraped data
df = pd.DataFrame({'Field_name': [name], 'Location': [address], 'Link': [link]})

# Print the dataframe
print(df)


# Get latitude and longitude for each location
df["Coordinates"] = df["Location"].apply(get_latitude_longitude)

# Print the DataFrame
print(df)

In [ ]:
print(df_name_color.columns)

In [ ]:
### Match the school name to School and merge the dataframes into a single object
from fuzzywuzzy import fuzz, process

def find_best_match(school_name, choices, score_cutoff=70):
    best_match = process.extractOne(school_name, choices, scorer=fuzz.token_sort_ratio, score_cutoff=score_cutoff)
    if best_match:
        return best_match[0]
    else:
        return None

# Get the list of school names from df_name_color
school_names = df_name_color['School'].tolist()

# Apply find_best_match function to create a new column 'best_match' in df_enrol
df_enrol['best_match'] = df_enrol['school_name'].apply(find_best_match, choices=school_names, score_cutoff=80)

In [ ]:
# Rename the 'School' column in df_name_color to 'best_match'
df_name_color = df_name_color.rename(columns={'School': 'best_match'})

# Merge the dataframes on the 'best_match' column
df_merged = df_enrol.merge(df_name_color, on='best_match', how='left')

In [ ]:
print(df_enrol.columns)

print(df_name_color.columns)

In [ ]:
# - get icons sorted out
# -*** DONE*** get the level assigner sorted out in the etl
# - add filter based on level to map
# - implement the search box places from